<nav class="uk-navbar uk-margin-medium-left uk-margin-medium-right">
  <div class="uk-navbar-right">
    <ul class = "uk-nav">
      <li class="uk-active uk-inline uk-text-large">Login<a href="#login" uk-toggle></a></li>
      <li class="uk-active uk-inline uk-text-large">About<a href="#about" uk-toggle></a></li>
    </ul>
  </div>
</nav>

<div class="title">
  <h1 class="line-1 uk-margin-xlarge-top animate__animated animate__delay-1s animate__fadeInDown">Learning</h1>
  <h1 class="line-2 uk-margin-large-top animate__animated animate__delay-2s animate__faster animate__lightSpeedInRight ">Unlimited!</h1>
  </h1>
</div> 

<div id="about" class="uk-modal-full" uk-modal>
  <button class="uk-modal-close-full uk-close-large" type="button" uk-close>Close</button>
    <div class="uk-modal-dialog uk-flex-inline uk-flex-between uk-flex-wrap"> 
      <div class="uk-background-contain uk-width-2-5" style="background-image: url('images/Goal 4.png'); display:inline" uk-height-viewport></div>
      <div class="uk-width-3-5 uk-padding">
        <h2 style="color:crimson; font-weight: bold">About Us</h2>
        <p>Lorem ipsum dolor sit amet. Eos officia sequi rem deserunt dolores eos iure natus eos beatae neque nam quod placeat. Qui nostrum neque qui mollitia dignissimos et nemo galisum eos nulla possimus id ratione voluptatibus ea animi maxime qui explicabo nobis. Sed vitae Quis et similique nihil vel enim exercitationem ab corrupti odit ea dolores voluptatem. Et iusto velit eum voluptas modi quo nemo sunt. Ut velit dolores et doloremque atque aut ratione nobis id quod nostrum eum sunt labore qui commodi fugiat ea autem facilis. Et quos temporibus est perspiciatis voluptatem et voluptatem itaque sit reiciendis voluptates. Sit sint pariatur eos delectus dolor sed autem voluptatum et obcaecati quos.</p>
        <p>Ut ipsum dolor et praesentium excepturi sed vero doloremque ut ducimus omnis ut ipsam sequi ea corrupti corrupti. Aut iusto porro et iusto sequi aut atque dolorem eum explicabo iusto aut sint fugit et iste accusantium qui consequatur debitis. Et soluta atque a nihil quas a nihil repudiandae in minus impedit. Aut obcaecati corporis ad dolorem eaque vel eveniet autem et ipsa expedita aut maxime veniam est tenetur suscipit a doloremque recusandae! Id velit error est expedita iste est repudiandae cupiditate. Et suscipit perferendis et doloremque saepe sit distinctio nemo id similique modi eos quis voluptatem rem eligendi tempora. Est sint commodi est dolores consequatur eum dolore ullam hic dolorem eligendi id officiis repellat eos animi nihil.</p>
        <p>Et dolor commodi in minima voluptas ab rerum atque est molestiae quam. Sit voluptate deleniti ad tempora blanditiis sit magni quia aut nulla modi. Sed cupiditate ipsa eos nihil aperiam et unde optio. Sit odio debitis ea cupiditate labore et nobis autem. Aut praesentium aspernatur ut esse ratione est rerum temporibus eum nemo officiis ea quos labore sed incidunt placeat.</p>
        <p>Est necessitatibus corporis 33 pariatur veritatis ab dolorum quaerat aut soluta cumque. Eum tenetur cupiditate hic dolores delectus qui perspiciatis totam eum optio architecto ut itaque obcaecati. Non fugit voluptatem ut dolores beatae et modi magni a eligendi commodi. Et autem harum non fuga quasi ea dolorem rerum et labore quia a dignissimos internos nam nesciunt nisi. Ut expedita animi et rerum iure sit corporis architecto qui quia itaque vel exercitationem possimus. Eos reiciendis reprehenderit aut illum sunt et eaque error et cumque atque. Et facere dignissimos aut quia dicta ab perspiciatis excepturi et nihil rerum in quasi voluptas. Est saepe asperiores a exercitationem consequatur eum dignissimos placeat. Sed itaque ullam et quod ullam et odio expedita.</p>
      </div>
      </div>
    </div>
</div>

<div id="login">
  
</div>

    