Login.handlebars
<h2>Login</h2>

<form>
  <div class="uk-form-horizontal"></div>
    <label class="uk-form-label">Email:</label>
    <input class="uk-input" type="text">
    <label class="uk-form-label ">Password:</label>
    <input class="uk-input" type="text">
  </div>
  

<script src="../public/js/login.js"></script>

