<h2>Login</h2>

<form class="uk-form-stacked uk-form-width-medium uk-position-relative">
  <label class="uk-form-label" for="form-horizontal-text">Email:</label>
  <div class="uk-form-controls uk-margin-medium-bottom">
    <input class="uk-input" id="form-horizontal-text" type="text">
  </div>
  <label class="uk-form-label" for="form-horizontal-text">Password:</label>
  <div class="uk-form-controls">
    <input class="uk-input" id="form-horizontal-text" type="text">
  </div>
  <div uk-form-custom>
    <input type="file">
    <button type="button"></button>
  </div>
</form>

</div>
  <div class="col-md-6">
    <h2>Signup</h2>

  <form class="form signup-form">
    <div class="form-group">
      <label for="name-signup">name:</label>
      <input class="form-input" type="text" id="name-signup" />
    </div>
    <div class="form-group">
      <label for="email-signup">email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">signup</button>
    </div>
  </form>
</div>

<script src="../public/js/login.js"></script>
