<body class="uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
  <nav class="uk-navbar uk-margin-medium-left uk-margin-medium-right">
    <div class="uk-navbar-right">
      <ul class = "uk-nav">
        <li class="uk-active uk-inline uk-text-large">Home<a href="/" uk-toggle></a></li>
        <li class="uk-active uk-inline uk-text-large">Logout<a href="/" uk-toggle></a></li>
      </ul>
    </div>
  </nav>
  <div class="uk-grid" style="justify-content:center; padding-left:25%; padding-top:7%;" >
    <div>
      <form class="uk-form-stacked" style="font-family: Arial, Helvetica, sans-serif;">
        <label class="uk-form-label uk-text-large" for="form-stacked-text" style="color:black; font-size: 40px; padding-top:5px">Email:</label>
        <input id="email-login" class="uk-input uk-form-large uk-form-width-large" type="text" style="border-width: medium; border-color: black;">
        <label class="uk-form-label uk-text-large" for="form-stacked-text" style="color:black; font-size: 40px; padding-top:15px">Password:</label>
        <input "password-login" class="uk-input uk-form-large uk-form-width-large" type="password" value="" style="border-width: medium; border-color: black; ">
      </form>
    <div>
      <button 
        type="submit" class="uk-button uk-button-large uk-button-default" 
        style="color:black; background-color:white; margin-top: 40px; border-width: medium; 
        border-color: black; font-family: Arial, Helvetica, sans-serif; font-weight: bolder; font-size: 20px;">Submit
      </button>
  </div>
</body>