<nav class="uk-navbar uk-margin-medium-left uk-margin-medium-right">
  <div class="uk-navbar-right">
    <ul class = "uk-nav">
      <li class="uk-active uk-inline uk-text-large">Home<a href="#home" uk-toggle></a></li>
      <li class="uk-active uk-inline uk-text-large">Logout<a href="#logout" uk-toggle></a></li>
    </ul>
  </div>
</nav>
