html, body, .hero { 
  font-family: 'Callie Chalk Font', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  color: white;
  overflow-x: hidden;
 } 

body {
  background-image: url("../images/pxfuel.jpg");
  background-size: cover;
}

ul {
  height: 5%;
  padding-top: 20px;
  margin: 0;
}

li {
  padding: 0 25px;
  
}

a {
  padding: 0px;
  position: relative;
  bottom: 20px;
}

.line-1 {
  color: white;
  font-family: 'Callie Chalk Font', sans-serif;
  font-size: 120px;
  margin: 0;
  margin-top: 120px;
  position: relative;
  left: 30%;
}

.line-2 {
  color: white;
  display: inline-block;
  font-family: 'Callie Chalk Font', sans-serif;
  font-size: 180px;
  position: relative;
  left: 35%;
  margin: 0;
  /*animation: shakeX;*/
}

#about {
  color:black;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  padding-right: 60px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight:500;
}